*.o
*.gmo

.deps
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
intltool-*.in
install-sh
Makefile
Makefile.in
Makefile.in.in
missing
po/POTFILES
po/stamp-it
src/heif-gimp-plugin
stamp-h1
